<div class="row no-gutters" id="productpage">
  <div class="col-md-6">
    <div class="card" align=center>
      <div class="card-header h3">
        Smartwatche Premium
      </div><br>
      <img src="https://i.imgur.com/pHNWiSU.jpg" width=40% height=70%>
      <div class="card-body">
      </div>
    </div>
    <div class="card" id="bluetoo">
      <div class="card-header h3">
        Smartwatche wodoodporne
      </div><br>
      <img src="https://i.imgur.com/aH1pZJY.png" width=40% height=70%>
      <div class="card-body">
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header h3">
        Smartwatche Power
      </div><br>
      <img src="https://i.imgur.com/74RUheF.jpg" width=40% height=70%>
      <div class="card-body">
      </div>
    </div>
    <div class="card">
      <div class="card-header h3">
        Wariant +
      </div><br>
      <img src="https://i.imgur.com/pa2bGfc.jpg" width=40% height=70%>
      <div class="card-body">
      </div>

    </div>

  </div>
</div>

